# Mod 4 Project - Starter Notebook

This notebook has been provided to you so that you can make use of the following starter code to help with the trickier parts of preprocessing the Zillow dataset. 

The notebook contains a rough outline the general order you'll likely want to take in this project. You'll notice that most of the areas are left blank. This is so that it's more obvious exactly when you should make use of the starter code provided for preprocessing. 

**_NOTE:_** The number of empty cells are not meant to infer how much or how little code should be involved in any given step--we've just provided a few for your convenience. Add, delete, and change things around in this notebook as needed!

# Some Notes Before Starting

This project will be one of the more challenging projects you complete in this program. This is because working with Time Series data is a bit different than working with regular datasets. In order to make this a bit less frustrating and help you understand what you need to do (and when you need to do it), we'll quickly review the dataset formats that you'll encounter in this project. 

## Wide Format vs Long Format

If you take a look at the format of the data in `zillow_data.csv`, you'll notice that the actual Time Series values are stored as separate columns. Here's a sample: 

<img src='https://raw.githubusercontent.com/learn-co-students/dsc-mod-4-project-seattle-ds-102819/master/images/df_head.png'>

You'll notice that the first seven columns look like any other dataset you're used to working with. However, column 8 refers to the median housing sales values for April 1996, column 9 for May 1996, and so on. This This is called **_Wide Format_**, and it makes the dataframe intuitive and easy to read. However, there are problems with this format when it comes to actually learning from the data, because the data only makes sense if you know the name of the column that the data can be found it. Since column names are metadata, our algorithms will miss out on what dates each value is for. This means that before we pass this data to our ARIMA model, we'll need to reshape our dataset to **_Long Format_**. Reshaped into long format, the dataframe above would now look like:

<img src='https://raw.githubusercontent.com/learn-co-students/dsc-mod-4-project-seattle-ds-102819/master/images/melted1.png'>

There are now many more rows in this dataset--one for each unique time and zipcode combination in the data! Once our dataset is in this format, we'll be able to train an ARIMA model on it. The method used to convert from Wide to Long is `pd.melt()`, and it is common to refer to our dataset as 'melted' after the transition to denote that it is in long format. 

# Helper Functions Provided

Melting a dataset can be tricky if you've never done it before, so you'll see that we have provided a sample function, `melt_data()`, to help you with this step below. Also provided is:

* `get_datetimes()`, a function to deal with converting the column values for datetimes as a pandas series of datetime objects
* Some good parameters for matplotlib to help make your visualizations more readable. 

Good luck!


# Step 1: Load the Data/Filtering for Chosen Zipcodes

In [1]:
import pandas as pd
df = pd.read_csv('zillow_data.csv')
df.head()

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
0,84654,60657,Chicago,IL,Chicago,Cook,1,334200.0,335400.0,336500.0,...,1005500,1007500,1007800,1009600,1013300,1018700,1024400,1030700,1033800,1030600
1,90668,75070,McKinney,TX,Dallas-Fort Worth,Collin,2,235700.0,236900.0,236700.0,...,308000,310000,312500,314100,315000,316600,318100,319600,321100,321800
2,91982,77494,Katy,TX,Houston,Harris,3,210400.0,212200.0,212200.0,...,321000,320600,320200,320400,320800,321200,321200,323000,326900,329900
3,84616,60614,Chicago,IL,Chicago,Cook,4,498100.0,500900.0,503100.0,...,1289800,1287700,1287400,1291500,1296600,1299000,1302700,1306400,1308500,1307000
4,93144,79936,El Paso,TX,El Paso,El Paso,5,77300.0,77300.0,77300.0,...,119100,119400,120000,120300,120300,120300,120300,120500,121000,121500

<bound method NDFrame.describe of        RegionID  RegionName                 City State              Metro  \
0         84654       60657              Chicago    IL            Chicago
1         90668       75070             McKinney    TX  Dallas-Fort Worth
2         91982       77494                 Katy    TX            Houston
3         84616       60614              Chicago    IL            Chicago
4         93144       79936              El Paso    TX            El Paso
...         ...         ...                  ...   ...                ...
14718     58333        1338             Ashfield    MA    Greenfield Town
14719     59107        3293            Woodstock    NH          Claremont
14720     75672       40404                Berea    KY           Richmond
14721     93733       81225  Mount Crested Butte    CO                NaN
14722     95851       89155             Mesquite    NV          Las Vegas

      CountyName  SizeRank   1996-04   1996-05   1996-06  ...  2017-07  \
0           Cook         1  334200.0  335400.0  336500.0  ...  1005500
1         Collin         2  235700.0  236900.0  236700.0  ...   308000
2         Harris         3  210400.0  212200.0  212200.0  ...   321000
3           Cook         4  498100.0  500900.0  503100.0  ...  1289800
4        El Paso         5   77300.0   77300.0   77300.0  ...   119100
...          ...       ...       ...       ...       ...  ...      ...
14718   Franklin     14719   94600.0   94300.0   94000.0  ...   216800
14719    Grafton     14720   92700.0   92500.0   92400.0  ...   202100
14720    Madison     14721   57100.0   57300.0   57500.0  ...   121800
14721   Gunnison     14722  191100.0  192400.0  193700.0  ...   662800
14722      Clark     14723  176400.0  176300.0  176100.0  ...   333800

       2017-08  2017-09  2017-10  2017-11  2017-12  2018-01  2018-02  2018-03  \
0      1007500  1007800  1009600  1013300  1018700  1024400  1030700  1033800
1       310000   312500   314100   315000   316600   318100   319600   321100
2       320600   320200   320400   320800   321200   321200   323000   326900
3      1287700  1287400  1291500  1296600  1299000  1302700  1306400  1308500
4       119400   120000   120300   120300   120300   120300   120500   121000
...        ...      ...      ...      ...      ...      ...      ...      ...
14718   217700   218600   218500   218100   216400   213100   209800   209200
14719   208400   212200   215200   214300   213100   213700   218300   222700
14720   122800   124600   126700   128800   130600   131700   132500   133000
14721   671200   682400   695600   695500   694700   706400   705300   681500
14722   336400   339700   343800   346800   348900   350400   353000   356000

       2018-04
0      1030600
1       321800
2       329900
3      1307000
4       121500
...        ...
14718   209300
14719   225800
14720   133400
14721   664400
14722   357200

[14723 rows x 272 columns]>

# Step 2: Data Preprocessing

In [4]:
def get_datetimes(df):
    """
    Takes a dataframe:
    returns only those column names that can be converted into datetime objects 
    as datetime objects.
    NOTE number of returned columns may not match total number of columns in passed dataframe
    """
    
    return pd.to_datetime(df.columns.values[1:], format='%Y-%m')

In [7]:
df2 = pd.to_datetime(df.columns.values[7:], format='%Y-%m')

In [8]:
df.head()

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
0,84654,60657,Chicago,IL,Chicago,Cook,1,334200.0,335400.0,336500.0,...,1005500,1007500,1007800,1009600,1013300,1018700,1024400,1030700,1033800,1030600
1,90668,75070,McKinney,TX,Dallas-Fort Worth,Collin,2,235700.0,236900.0,236700.0,...,308000,310000,312500,314100,315000,316600,318100,319600,321100,321800
2,91982,77494,Katy,TX,Houston,Harris,3,210400.0,212200.0,212200.0,...,321000,320600,320200,320400,320800,321200,321200,323000,326900,329900
3,84616,60614,Chicago,IL,Chicago,Cook,4,498100.0,500900.0,503100.0,...,1289800,1287700,1287400,1291500,1296600,1299000,1302700,1306400,1308500,1307000
4,93144,79936,El Paso,TX,El Paso,El Paso,5,77300.0,77300.0,77300.0,...,119100,119400,120000,120300,120300,120300,120300,120500,121000,121500

In [18]:
import pandas as pd

def missing_data(df):
    missing_data = df.isna().sum()
    missing_data = missing_data[missing_data > 0]
    return missing_data.to_frame()

# Call the missing_data function
missing_data(df2).T

AttributeError: 'numpy.ndarray' object has no attribute 'to_frame'

In [17]:
missing_data(df2)

AttributeError: 'numpy.ndarray' object has no attribute 'to_frame'

In [21]:
# Get rows with missing data
rows_with_missing_data = df[df.isnull().any(axis=1)]

# Display the rows with missing data
rows_with_missing_data.head(100)

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
20,61625,10011,New York,NY,New York,New York,21,NaN,NaN,NaN,...,12137600,12112600,12036600,12050100,12016300,11946500,11978100,11849300,11563000,11478300
36,61796,10456,New York,NY,New York,Bronx,37,NaN,NaN,NaN,...,357900,357100,356500,357200,362000,368500,374100,379800,388100,394400
105,84613,60611,Chicago,IL,Chicago,Cook,106,NaN,NaN,NaN,...,1475200,1473900,1469500,1472100,1477800,1486000,1497300,1508600,1508100,1493200
151,69340,27410,Greensboro,NC,NaN,Guilford,152,137100.0,136600.0,136000.0,...,212900,213200,213600,214300,215100,216200,217700,219600,221000,221500
156,62048,11238,New York,NY,New York,Kings,157,NaN,NaN,NaN,...,2673300,2696700,2716500,2724000,2744300,2768900,2810700,2848100,2869600,2885300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4065,73614,35801,Huntsville,AL,Huntsville,Madison,4066,NaN,NaN,NaN,...,208700,208400,209900,211800,212700,212700,213500,217100,223000,227100
4128,71008,30286,Thomaston,GA,Thomaston,Upson,4129,NaN,NaN,NaN,...,63300,63900,64300,64400,64500,64800,65000,65200,65500,65700
4197,77460,45133,Hillsboro,OH,NaN,Highland,4198,67600.0,67400.0,67200.0,...,100700,101300,101900,102500,102700,102600,102800,102900,103200,103500
4223,95940,89512,Reno,NV,Reno,Washoe,4224,NaN,NaN,NaN,...,204900,208300,210900,212500,214900,218300,221200,224100,228500,232200
4249,69277,27288,Eden,NC,NaN,Rockingham,4250,32500.0,32600.0,32800.0,...,47400,47600,47900,47500,46300,44500,43300,43300,43800,43700

# Step 3: EDA and Visualization

In [ ]:
font = {'family' : 'normal',
        'weight' : 'bold',
        'size'   : 22}

matplotlib.rc('font', **font)

# NOTE: if you visualizations are too cluttered to read, try calling 'plt.gcf().autofmt_xdate()'!

# Step 4: Reshape from Wide to Long Format

In [ ]:
def melt_data(df):
    """
    Takes the zillow_data dataset in wide form or a subset of the zillow_dataset.  
    Returns a long-form datetime dataframe 
    with the datetime column names as the index and the values as the 'values' column.
    
    If more than one row is passes in the wide-form dataset, the values column
    will be the mean of the values from the datetime columns in all of the rows.
    """
    
    melted = pd.melt(df, id_vars=['RegionName', 'RegionID', 'SizeRank', 'City', 'State', 'Metro', 'CountyName'], var_name='time')
    melted['time'] = pd.to_datetime(melted['time'], infer_datetime_format=True)
    melted = melted.dropna(subset=['value'])
    return melted.groupby('time').aggregate({'value':'mean'})

DatetimeIndex([], dtype='datetime64[ns]', freq=None)

# Step 5: ARIMA Modeling

# Step 6: Interpreting Results